/* Geral */

* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    color: darkslategray;
    box-sizing: border-box;
}

body {
   background-color: #ffb668; 
}

button {
    background-color: aliceblue;
    color: #294550;
    border: 2px solid #294550;
    border-radius: 5px;
    padding: .3rem .6rem;
    font-size: 1rem ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #BB7F3F;
    color: aliceblue;
}

button:hover > i {
    color: aliceblue;
}

button i {
    color:#294550;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 0.25rem 0.5rem; 
}

.hide {
    display: none;
}


/*To-do header*/

.todo-container {
    max-width: 450px;
    margin: 1rem auto 0;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border: 2px solid #294550;
}

.all-container {
    max-width: 550px;
    padding: 1.5rem;
    margin: 3rem auto 0;
    box-shadow: 5px 5px 15px #2945503f;
    background-image: url(/001_javascript/img/bg.png);
    background-position: ce;
    background-size: 650px;
}

.todo-container header {
    text-align: center;
    padding:0 1rem 1rem;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

/*Forms*/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-button {
    margin-top: 1rem;
}

