/* Geral */

* {
    padding: 0;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    color: darkslategray;
    box-sizing: border-box;
}

body {
   background-color: #ffcc95; 
}

button {
    background-color: aliceblue;
    color: #294550;
    border: 2px solid #294550;
    border-radius: 5px;
    padding: .3rem .6rem;
    font-size: 1rem ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #BB7F3F;
    color: aliceblue;
}

button:hover > i {
    color: aliceblue;
}

button i {
    color:#294550;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 0.25rem 0.5rem; 
}

.hide {
    display: none;
}


/*To-do header*/

.all-container {
    max-width: 550px;
    padding: 1.5rem;
    margin: 3rem auto 0;
    box-shadow: 7px 7px 15px #ea9547a8;
    background-color: #ffff;
    background-image: url(/001_javascript/img/bg.png);
    
    background-position: center;
    background-size:550px;
    border: 2px solid #294550;
}

.todo-container {
    max-width: 450px;
    margin: 1rem auto 0;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border: 3px solid #294550;
}

.todo-container header {
    text-align: center;
    padding:0 1rem 1rem;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

/*Forms*/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
    width: 100%;
}

#cancel-edit-button {
    margin-top: 1rem;
}

/* toolbar */

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/*List*/

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    transition: 0.3s;
    border-bottom: 1px solid #ddd;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #294550;
}

.done h3 {
    color: #ffff;
    text-decoration: line-through;
    font-style: italic;

}